@import config

html
  height: 100%

body
  height: 100%
  font-family: Roboto, sans-serif
  font-size: $fontSize
  position: relative
  color: $textColor

::selection
	background-color: $accentColor
	color: #fff

a
  color: $accentColor

h1
  font-size: 36px

h2
  margin: 0
  font-size: 24px
  color: #aaa

h3
  margin: 0
  font-size: 20px

#root
  height: 100%

.accent
  background: $accentColor

.loader
  display: flex
  align-items: center

.svg-inline--fa
  color: $accentColor

table
  tr:last-child
    border-bottom: none

.spinner-layer
  border-color: $accentColor !important

.loader
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  
.preloader-wrapper.active
  animation: none

.modal
  overflow: hidden
  top: 50% !important
  transform: translateY(-50%) scaleX(1) scaleY(1) !important
  .modal-content
    h4
      font-size: 24px
  .modal-footer
    height: auto
    padding: 0 24px 24px 24px
    .btn, .btn-flat
      margin: 0
    .btn
      height: 36px
      line-height: 36px
    .btn-flat
      margin-left: 10px

@media screen and (max-width: 600px)
  body
    font-size: 14px
  
  h1
    font-size: 20px
  
  .btn
    height: 44px
    line-height: 44px

  .modal
    .modal-content
      padding: 20px 15px
      h4
        font-size: 18px
    .modal-footer
      padding: 0 15px 20px 15px
  
  .sidenav
    li
      &:last-child
        margin-top: 20px
      .btn
        width: 150px
        margin: 0 auto !important
        padding: 0

@media screen and (min-width: 601px) and (max-width: 992px)
  h1
    font-size: 24px
  
  .btn
    height: 50px
    line-height: 50px

  .sidenav
    li
      &:last-child
        margin-top: 20px
      .btn
        width: 150px
        margin: 0 auto !important
        padding: 0

@media screen and (min-width: 993px)
  h1
    font-size: 28px
  
  .btn
    height: 50px
    line-height: 50px

// @media screen and (min-width: 1200px)
